/* #catalog td:nth-last-child(2), #catalog td:last-child {
    font-weight: bolder;
    width: 10px;
    border: 1px solid black;
    border-radius: 30%;
}

#catalog td:nth-last-child(2) {
    background-color: green;
}

#catalog td:nth-last-child(2):hover {
    background-color: darkgreen;
}

#catalog td:last-child {
    background-color: red;
}
#catalog td:last-child:hover {
    background-color: darkred;
} */



.addBtn {
    font-weight: 500;
    padding: 0.3em;
    border: 1px solid black;
    border-radius: 10%;
    background-color: limegreen;
}

.addBtn:hover {
    background-color: greenyellow;
}

#bill tfoot td:last-of-type {
    text-align: right;
}